# NLP
spacy

# ML
scikit-learn

# Data versioning & tracking
dvc
mlflow

# API
fastapi
uvicorn

# Monitoring
prometheus_client
prometheus-fastapi-instrumentator

# Utilities
pandas
joblib
python-dotenv
